**
!_output/
!_output/*.tar.gz
!UI/
!UI/Web/
!UI/Web/dist/
!UI/Web/dist/browser/
!UI/Web/dist/browser/**
!UI/Web/src/
!UI/Web/src/assets/
!UI/Web/src/assets/fonts/
!UI/Web/src/assets/fonts/**
!copy_runtime.sh
!entrypoint.sh
!Kavita.Server/
!Kavita.Server/config/
!Kavita.Server/config/appsettings.json
!Dockerfile
